{% extends 'base.html' %}
{% load static tailwind_tags %}
{% load static %}
{% block css %}
<style>
      .menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
}

.menu__link::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}
</style>
{% endblock %}
{% block pagecontent %}


<div class="isolate bg-gray-800 px-6 py-24 sm:py-32 lg:px-8">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div>
            <img src="{% static project.image %}" alt="{{ project.name }}" class="rounded-lg shadow-lg">
        </div>
        <div>
            <h2 class="text-3xl font-bold text-gray-100 mb-4">{{ project.name }}</h2>
            <p class="text-lg text-gray-300 mb-4">{{ project.description }}</p>
            <p class="text-lg text-gray-300 mb-4">Category: {{ project.get_category_display }}</p>
            <p class="text-lg text-gray-300 mb-4">Uploaded on: {{ project.date_uploaded }}</p>
            <p class="text-lg text-gray-300 mb-4">Tags:</p>
            <ul class="text-lg text-gray-300 mb-4">
                {% for tag in project.projecttags_set.all %}
                <li>{{ tag.tag }}</li>
                {% endfor %}
            </ul>
            <a href="{{ project.url }}" class="block text-lg font-semibold text-indigo-600 hover:text-indigo-400" target="_blank" rel="noopener noreferrer">View Project</a>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const openMenuButton = document.getElementById('open-button');
    const closeMenuButton = document.getElementById('mobile-menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    openMenuButton.addEventListener('click', function () {
      mobileMenu.classList.remove('hidden');
    });

    closeMenuButton.addEventListener('click', function () {
      mobileMenu.classList.add('hidden');
    });
  });
</script>
{% endblock %}